CFS Accelerator Unlocked Package/force-app/main/default/flows/Conga_Contract_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <choices>
        <name>False</name>
        <choiceText>False</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>False</stringValue>
        </value>
    </choices>
    <choices>
        <name>False_Choice</name>
        <choiceText>False</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>True</name>
        <choiceText>True</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>True</stringValue>
        </value>
    </choices>
    <choices>
        <name>True_Choice</name>
        <choiceText>True</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>Third_Party_Paper</name>
        <label>Third Party Paper?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ThirdParty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Third_Party_Paper_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>File_Upload_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pcs_Contract_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>APXT_Redlining__Type__c</picklistField>
        <picklistObject>APXT_Redlining__Contract_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Conga - Contract Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conga - Contract Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract_Agreement</name>
        <label>Create Contract Agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varT_ContractAgreementId</assignRecordIdToReference>
        <connector>
            <targetReference>Third_Party_Paper</targetReference>
        </connector>
        <inputAssignments>
            <field>APXT_Redlining__Account__c</field>
            <value>
                <elementReference>Get_Oppty.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APXT_Redlining__Effective_Date__c</field>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APXT_Redlining__Expiration_Date__c</field>
            <value>
                <elementReference>Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APXT_Redlining__Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APXT_Redlining__Type__c</field>
            <value>
                <elementReference>Contract_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNG_Third_Party_Paper__c</field>
            <value>
                <elementReference>Third_Party_Paper_Boolean</elementReference>
            </value>
        </inputAssignments>
        <object>APXT_Redlining__Contract_Agreement__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Oppty</name>
        <label>Get Oppty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Request_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contract_Request_Screen</name>
        <label>Contract Request Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Contract_Agreement</targetReference>
        </connector>
        <fields>
            <name>Contract_Type</name>
            <choiceReferences>pcs_Contract_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expiration_Date</name>
            <dataType>Date</dataType>
            <fieldText>Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Third_Party_Paper_Boolean</name>
            <choiceReferences>True_Choice</choiceReferences>
            <choiceReferences>False_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Third Party Paper</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_Upload_Screen</name>
        <label>File Upload Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <fields>
            <name>UploadFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload any third party documents.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.ext, .doc, .docx, .xls, .csv, .xlsm, xlsx, .xlt, .xml, .pdf , .png, .jpg, .docm </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_ContractAgreementId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Success! ✅&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Your contract request has been created.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!varT_ContractAgreementId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px;&quot;&gt;Click to go to the agreement&lt;/a&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Oppty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_ContractAgreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
